@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet');
#opcity, #sec2 .row .col .fondo, #sec3 .row .col .fondo, #sec4 .row .col .fondo, #sec5 .row .col .fondo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}
header nav .logo {
  font-size: 22px;
  margin: 0;
}
header nav ul .links {
  font-size: 18px;
}
header nav ul .links:hover {
  text-decoration: underline;
}

#sec1 {
  position: relative;
}
#sec1 .carousel-inner {
  background: black;
}
#sec1 .carousel-inner .carousel-item {
  position: relative;
}
#sec1 .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 35%;
}
#sec1 .carousel-inner .carousel-item .carousel-caption h2 {
  text-transform: uppercase;
  font-weight: 800;
}
#sec1 .carousel-inner .carousel-item .carousel-caption h3 {
  font-family: "Saira Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
#sec1 .carousel-inner .carousel-item .carousel-caption a {
  background: #edbb00;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 25px;
  color: #000000;
  text-transform: uppercase;
  border-radius: 25px;
}
#sec1 .carousel-inner .carousel-item .carousel-caption a:hover {
  background: #b68e00;
  color: white;
  text-decoration: underline;
}

#sec2, #sec3, #sec4, #sec5 {
  width: 100%;
  height: auto;
  position: relative;
}
#sec2 .row, #sec3 .row, #sec4 .row, #sec5 .row {
  height: 100%;
  width: 100%;
  margin: 0;
}
#sec2 .row .col, #sec3 .row .col, #sec4 .row .col, #sec5 .row .col {
  height: 100%;
}
#sec2 .row .col .imagen img, #sec3 .row .col .imagen img, #sec4 .row .col .imagen img, #sec5 .row .col .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#sec2 .row .col .texto, #sec3 .row .col .texto, #sec4 .row .col .texto, #sec5 .row .col .texto {
  padding: 70px 0;
  width: 85%;
  margin: auto;
  text-align: center;
}
#sec2 .row .col .texto h1, #sec3 .row .col .texto h1, #sec4 .row .col .texto h1, #sec5 .row .col .texto h1 {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
}
#sec2 .row .col .texto h2, #sec3 .row .col .texto h2, #sec4 .row .col .texto h2, #sec5 .row .col .texto h2 {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
}
#sec2 .row .col .texto h3, #sec3 .row .col .texto h3, #sec4 .row .col .texto h3, #sec5 .row .col .texto h3 {
  color: #edbb00;
  font-size: 22px;
  font-weight: 600;
  font-family: "Saira Condensed", sans-serif;
}
#sec2 .row .col .fondo, #sec3 .row .col .fondo, #sec4 .row .col .fondo, #sec5 .row .col .fondo {
  z-index: -1;
}

#sec3 .cajaproyectos .proyectos {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
#sec3 .cajaproyectos p {
  color: white;
  font-size: 16px;
}

#sec4 .row .col .texto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sec4 .row .col .texto .detalles i {
  margin-top: 15px;
  font-size: 40px;
  color: white;
}
#sec4 .row .col .texto .detalles p {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
}

#sec5 .row .col .texto {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sec5 .row .col .texto .gmail img {
  border-radius: 10px;
}
#sec5 .row .col .texto .gmail p {
  color: white;
}
#sec5 .row .col .texto .social {
  width: 100%;
  margin-top: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec5 .row .col .texto .social ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#sec5 .row .col .texto .social ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 15px 30px;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}
#sec5 .row .col .texto .social ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.cuatro .texto .social ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.cuatro .texto .social ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.cuatro .texto .social ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.cuatro .texto .social ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.2;
}

.cuatro .texto .social ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0;
}

.cuatro .texto .social ul li:nth-child(1) span {
  background: #3b5999;
}

.cuatro .texto .social ul li:nth-child(2) span {
  background: #0077b5;
}

.cuatro .texto .social ul li:nth-child(3) span {
  background: #55acee;
}

.cuatro .texto .social ul li:nth-child(4) span {
  background: #e4405f;
}

footer {
  height: 14vh;
  width: 100%;
}
footer .row .col {
  align-items: center;
}
footer .row .col .text-footer p {
  color: white;
  font-size: 13px;
}

@media only screen and (max-width: 767px) {
  nav .logo {
    font-size: 18px;
  }
  nav ul .links {
    margin-left: 18px;
    font-size: 13px;
  }

  #sec1 .carousel-inner .carousel-item .carousel-caption h2 {
    font-weight: 800;
    font-size: 18px;
  }
  #sec1 .carousel-inner .carousel-item .carousel-caption h3 {
    font-family: "Saira Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  #sec1 .carousel-inner .carousel-item .carousel-caption a {
    padding: 7px 17px;
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
  }

  #sec2 .row .col .texto h1, #sec3 .row .col .texto h1, #sec4 .row .col .texto h1, #sec5 .row .col .texto h1 {
    font-size: 18px;
  }
  #sec2 .row .col .texto h2, #sec3 .row .col .texto h2, #sec4 .row .col .texto h2, #sec5 .row .col .texto h2 {
    font-size: 18px;
  }
  #sec2 .row .col .texto h3, #sec3 .row .col .texto h3, #sec4 .row .col .texto h3, #sec5 .row .col .texto h3 {
    font-size: 18px;
  }

  #sec4 .row .col .texto .detalles i {
    font-size: 20px;
  }
  #sec4 .row .col .texto .detalles p {
    font-size: 16px;
  }

  #sec5 .row .col .texto .social {
    margin-top: 50px;
  }
  #sec5 .row .col .texto .social ul li {
    position: relative;
    list-style: none;
    width: 35px;
    height: 35px;
    margin: 15px 15px;
    transform: rotate(-30deg) skew(25deg);
  }

  .cuatro .texto .social ul li:hover span:nth-child(5) {
    transform: translate(20px, -20px);
  }

  .cuatro .texto .social ul li:hover span:nth-child(4) {
    transform: translate(15px, -15px);
  }

  .cuatro .texto .social ul li:hover span:nth-child(3) {
    transform: translate(10px, -10px);
  }

  .cuatro .texto .social ul li:hover span:nth-child(2) {
    transform: translate(5px, -5px);
  }

  .cuatro .texto .social ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
  }

  footer {
    height: 20vh;
    width: 100%;
  }
}