@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet');

$color-primary: #0a0729;
$color-secondary: #00c7b2;
$color-third: #c91ee0;
$color-claro: #ffffff;
$color-oscuro: #000000;

//TIPOGRAFIA
$fuente1: "Open Sans",
sans-serif;
$fuente2: "Saira Condensed",
sans-serif;

//TAMAÑOS
$title: 42px;
$font-big-xl: 32px;
$font-big: 26px;
$font-normal: 18px;
$font-small: 14px;

//ESPACIADOS
$big-xl: 40px;
$big: 20px;
$normal: 14px;
$small: 8px;



body {
    background-color: $color-primary;
    background-image: url('../img/hero-img.png');
    background-position: center;
    background-repeat: no-repeat;
    font-family: $fuente1;
    color: $color-claro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 0 4px $color-third;
    display: flex;
    height: 100vh;
    justify-content: center;

    .container-banner {
        position: relative;
        top: 200px;

        h1 {
            font-size: 70px;

            span {
                color: $color-secondary;

                &:after {
                    content: ">";
                    color: $color-third;
                }

                &::before {
                    content: "<";
                    color: $color-third;
                }
            }
        }
    }

}